.header {
  border-bottom: 1px solid #ececec;
  @media screen and (max-width: 767px) {
    //  поиционирование для выпадающего моб меню
    position: relative;
    padding: 15px 0;
  }

  &__wrapper {
    @include flex(center, space-between);
  }
}

.header-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header-nav-list {
  text-align: center;

  @media screen and (max-width: 767px) {
    text-align: left;
  }

  &__item:last-child {
    @media screen and (max-width: 767px) {
    margin-bottom: 302px;
    }
  }

  &__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 35px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
   
  }
}

.header-nav-list__link {
  position: relative;

  display: inline-block;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  transition: color var(--timing-duration) var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 480px) {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.142;
  }
}

.header-nav-list__link--current {
  color: var(--accent-color);

  &::after {
    position: absolute;
    left: 0;
    bottom: -10px;

    content: '';

    background-color: var(--accent-color);

    width: 100%;
    height: 4px;
    border-radius: 2px;

    @media screen and (min-width: 768px) {
      bottom: -1px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}


.header-address {

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    @include flex(center, center);
  }
}

.header-address__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--timing-duration) var(--timing-function);

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
    display: inline-block;
    width: 100%;
    text-align: left;

    font-size: 18px;
    line-height: 1.166;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.166;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    @include flex(center, center);

    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mob-link {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 34px;
    line-height: 0.85;
    /* identical to box height */
    letter-spacing: 0.02em;

    color: var(--accent-color); 
  }
}

.mob-link-mail {
  @media screen and (max-width: 767px) {
  font-weight: 500;
  font-size: 24px;
  line-height: 0.85;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  margin-bottom: 64px;
  }
}

.mob-social-list {
  list-style: none;
  display: flex;
}

.mob-social-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  /* identical to box height, or 122% */
  
  letter-spacing: 0.02em;
  
  color: #2196F3;
  
}

.mob-social-list__item {
  margin-right: 30px;
}

.mob-social-list__item::after {
  content: "|";
  position: absolute;
  margin-left: 15px;
  align-items: center;
  color: rgba(33, 33, 33, 0.2);
  font-size: 22px;
  .mob-social-list__item:not(:last-child) {
  display: none;
  }
}

.header-address__icon {
  margin-right: 10px;

  fill: var(--primary-text-color);
  transition: fill var(--timing-duration) var(--timing-function);
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: none;  
  }

  @media screen and (max-width: 768px) {
    margin-right: 8px;
  }

  .header-address__link:hover &,
  .header-address__link:focus & {
    fill: var(--accent-color);
  }
}

.mobile-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 6;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn-icons {
  fill: var(--primary-title-color);

  &:hover {
    fill: var(--accent-color);
    transition: fill var(--timing-duration) var(--timing-function);
  }
}

.mobile-btn__cross {
  display: none;
}

.mobile-btn.is-open .mobile-btn__cross {
  display: block;
}

.mobile-btn.is-open .mobile-btn__burger {
  display: none;
}

.mob-social-list {
  @media screen and (min-width: 320px) and (max-width: 767px) {

  }

  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu {
  @media screen and (min-width: 320px) and (max-width: 767px) {

    position: fixed;
    top: 0;
    // left: 0;

    width: 100%;
    height: 100vh;

    padding: 48px 40px;

    // padding-top: 48px;
    // padding-bottom: 48px;
    // padding-right: 40px;
    

    z-index: 5;

    display: none;
   
    // top: 100%;
    // left: 0;
    // width: 100%;

    background-color: white;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    @include flex(center, space-between);
    flex-grow: 1;
  }
}